html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.root .createBtn {
    display: none;
}
.root .loader {
    display: none;
}
.root .response {
    display: none;
}
.root .error {
    display: none;
}

.root.init .createBtn {
    display: block;
}
.root.loading .loader {
    display: block;
}
.root.complete .response {
    display: block;
}
.root.error .error {
    display: block;
}

.root {
    min-height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rootInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 10rem 1rem;
    flex-direction: column;
}

.buttonWrap a,
.createBtn,
.copyBtn {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 4px;
    background: transparent;
    color: white;
    border: solid 2px white;
    margin: 0;
    cursor: pointer;
    transition: background 500ms;
}

.buttonWrap a:hover,
.createBtn:hover,
.copyBtn:hover {
    background: #222;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes loader {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
.response {
    text-align: center;
}

.buttonWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
}

.buttonWrap a {
    flex: 1;
    text-decoration: none;
    margin: 1rem;
}

.urlWrap {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
}
